<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span">Clients</span>
  </li>
  <li class="breadcrumb-item active">Index</li>
</ol>

<!-- Page Content -->
<h1>Listing clients</h1>
<hr>

<%= link_to 'New Client', new_admin_client_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Company</th>
    <th colspan="3"></th>
  </tr>
  <% @clients.each do |client| %>
    <tr>
      <td><%= client.name %></td>
      <td><%= client.company %></td>
      <td><%= link_to 'Show', admin_client_path(client) %></td>
      <td><%= link_to 'Edit', edit_admin_client_path(client) %></td>
      <td><%= link_to 'Destroy', admin_client_path(client), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', admin_root_index_path %>
