<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span">My Profile</span>
  </li>
  <li class="breadcrumb-item active">Edit</li>
</ol>

<h2>Update my Info</h2>
<hr>

<div class="container mb-4">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Info</div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
          <%= devise_error_messages! %>
          <% unless @user.attachment.nil? %>
            <div class="row"><div class="col-4"></div>
              <div class="col-4 text-center">
                <%= image_tag @user.attachment.avatar.url, class: "rounded-circle img-fluid" %><div class="col-4"></div>
              </div>
            </div>
          <%end%>
          <% if resource.attachment.nil?%>
            <% resource.build_attachment %>
          <% end %>
            <div class="row my-4">
              <div class="col-4"></div>
              <div class="col-4">
                <%= f.fields_for :attachment do |a| %>
                  <%= a.file_field :avatar %>
                <% end %>
              </div>
              <div class="col-4"></div>
            </div>
          <div class="form-group">
            <div class="form-label-group">
              <%= f.text_field :username, class: "form-control", placeholder: 'Username' %>
              <%= f.label :username %>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <%= f.email_field :email, class: "form-control", placeholder: 'Email address' %>
              <%= f.label :email %>
            </div>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <%= f.password_field :password, class: "form-control", placeholder: "New Password" %>
                  <%= f.label :password %><i>(leave blank if you don't want to change it)</i>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password" %>
                  <%= f.label :password_confirmation %>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <%= f.password_field :current_password, class: "form-control", placeholder: "Current Password" %>
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
            </div>
          </div>

          <%= f.submit 'Update',class: "btn btn-dark btn-block" %>
        <% end %>
      </div>
  </div>
</div>
