<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Hours</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @all_time_logs.each do |time_log| %>
          <tr>
            <td><%= time_log.user.username %></td>
            <td><%= time_log.date.to_date %></td>
            <td><%= time_log.hours %></td>
            <td>
              <% if policy(time_log).edit? %>
                <%= link_to 'Edit', edit_project_time_log_path(@project, time_log), class: "btn btn-dark" %>
              <% end %>
            </td>
            <td>
              <% if policy(time_log).destroy? %>
                <%= link_to "Delete", project_time_log_path(@project,time_log), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
