<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span">Time Logs</span>
  </li>
  <li class="breadcrumb-item active">Index</li>
</ol>

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Listing your Time Logs for <%= @project_name %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>User</th>
            <th>Date</th>
            <th>Hours</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>User</th>
            <th>Date</th>
            <th>Hours</th>
            <th colspan="2"></th>
          </tr>
        </tfoot>
        <tbody>
          <% @time_logs.each do |time_log| %>
            <tr>
              <td><%= time_log.user.username %></td>
              <td><%= time_log.date.to_date %></td>
              <td><%= time_log.hours %></td>
              <td><%= link_to 'Edit', edit_project_time_log_path(@project, time_log), class: "btn btn-dark" %></td>
              <td><%= link_to "Delete", project_time_log_delete_path(@project,time_log), remote: true, class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
<div class="modal fade" id="destroyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
