<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span">Clients</span>
  </li>
  <li class="breadcrumb-item active">Index</li>
</ol>

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Listing clients
  </div>
  <div class="card-body">
    <%= form_tag clients_path, method: :get do %>
      <div class="field mb-4">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search", aria: {label:"Search", describedby: "basic-addon1"} %>
      </div>
    <% end %>
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Company</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Company</th>
            <th colspan="3"></th>
          </tr>
        </tfoot>
        <tbody>
          <% @clients.each do |client| %>
            <tr>
              <td><%= client.name %></td>
              <td><%= client.company %></td>
              <td><%= link_to 'Show', client_path(client), class: "btn btn-dark" %></td>
              <% if policy(client).edit? %>
                <td><%= link_to 'Edit', edit_client_path(client), class: "btn btn-dark" %></td>
              <% end %>
              <% if policy(client).destroy? %>
              <td><%= link_to "Delete", client_delete_path(client), remote: true, class: "btn btn-danger" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="my-4">
        <%= paginate @clients, class: "pagination" %>
      </div>
      <% if policy(Client).new? %>
        <div class="text-right">
          <%= link_to 'New Client', new_client_path, class: "btn btn-dark" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
<div class="modal fade" id="destroyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>

