<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span>Payments</span>
  </li>
  <li class="breadcrumb-item active">Index</li>
</ol>

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Listing <%= @project_name %> Payments
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th class="text-center">Amount</th>
            <th class="text-center">Created at</th>
            <th class="text-center">Edit</th>
            <th class="text-center">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @payments.each do |payment| %>
            <tr>
              <td class="text-center"><%= payment.amount %></td>
              <td class="text-center"><%= payment.created_at.to_date %></td>
              <td class="text-center">
                <%= link_to edit_admin_project_payment_path(@project,payment) do %>
                  <h5><i class="fas fa-pen text-dark"></i></h5>
                <% end %>
              </td>
              <td class="text-center">
                <%= link_to admin_project_payment_path(@project, payment), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <h5><i class="fas fa-trash text-danger"></i></h5>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="my-4">
        <%= paginate @payments, class: "pagination" %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="destroyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
