<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span">Dashboard</span>
  </li>
  <li class="breadcrumb-item active">Projects</li>
</ol>

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Listing projects
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Client</th>
            <th colspan="5"></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Client</th>
            <th colspan="5"></th>
          </tr>
        </tfoot>
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project.name %></td>
              <td><%= project.client.name %></td>
              <td>
                <%= link_to 'Add Payment', new_admin_project_payment_path(project),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', class: 'btn btn-outline-success'}  %>
              </td>
              <td><%= link_to 'Show Payments', admin_project_payments_path(project), class: "btn btn-outline-success" %></td>
              <td><%= link_to 'Show', admin_project_path(project), class: "btn btn-dark" %></td>
              <td><%= link_to 'Edit', edit_admin_project_path(project), class: "btn btn-dark" %></td>
              <td><%= link_to "Delete", admin_project_delete_path(project), remote: true, class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="text-right">
        <%= link_to 'New Project', new_admin_project_path, class: "btn btn-dark" %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<div class="modal fade" id="destroyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
