<div class="card-body">
  <%= form_for @project, html: { multipart: true } do |f| %>
    <div id="errors">
      <%= render 'layouts/error_messages', object: @project %>
    </div>
    <div class="form-group">
      <div class="form-label-group">
        <%= f.text_field :name, class: "form-control", placeholder: 'Name' %>
        <%= f.label :name %>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="mb-4">
          <%= f.fields_for :attachments  do |attachment| %>
            <%= render 'attachment_fields', :f => attachment %>
          <% end %> 
          <div class='links'>
            <%= link_to_add_association 'add attachment', f, :attachments, class: "btn btn-info" %>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="text-right mb-4">
          Choose Client:
          <%= collection_select(:project, :client_id, @clients, :id, :name, {}, {class: "btn btn-secondary dropdown-toggle ml-2"}) %>
        </div>
        <div class="float-right mb-4">
          Users:
          <%= f.collection_select(:user_ids, @users, :id, :username, {}, {multiple: true, class: "chosen-select btn btn-info"}) %>
        </div>
      </div>
    </div>
    <%= f.submit class: "btn btn-dark btn-block" %>
  <% end %>
</div>
