<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span">Dashboard</span>
  </li>
  <li class="breadcrumb-item active">Projects</li>
</ol>

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Listing projects
  </div>
  <div class="card-body">
    <%= form_tag projects_path, method: :get do %>
      <div class="field mb-4">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search", aria: {label:"Search", describedby: "basic-addon1"} %>
      </div>
    <% end %>
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Client</th>
            <th colspan="8"></th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project.name %></td>
              <td><%= project.client.name %></td>
              <% if policy(project.payments).new? %>
                <td>
                  <%= link_to 'Add Payment', new_project_payment_path(project),  { remote: true, data: { toggle: 'modal', target: '#myModal' }, class: 'btn btn-outline-success'}  %>
                </td>
              <% end %>
              <% if policy(project.payments).index? %>
                <td><%= link_to 'Show Payments', project_payments_path(project), class: "btn btn-outline-success" %></td>
              <% end %>
              <td>
                <%= link_to 'Add Time Logs', new_project_time_log_path(project), { remote: true, data: { toggle: 'modal', target: '#myModal' }, class: 'btn btn-outline-primary'}  %>
              </td>
              <td><%= link_to 'Show Time Logs', project_path(project), class: "btn btn-outline-primary" %></td>
              <td>
                <%= link_to new_project_comment_path(project), { remote: true, data: { toggle: 'modal', target: '#myModal' }, class: 'btn btn-primary'} do %>
                  <i class="fas fa-fw fa-comments"></i>
                <% end %>
              </td>
              <td><%= link_to 'Show', project_path(project), class: "btn btn-dark" %></td>
              <% if policy(project).edit? %>
                <td><%= link_to 'Edit', edit_project_path(project), class: "btn btn-dark" %></td>
              <% end %>
              <% if policy(project).destroy? %>
                <td><%= link_to "Delete", project_path(project), method: :delete,  data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="my-4">
        <%= paginate @projects, class: "pagination" %>
      </div>
    </div>
      <% if policy(Project).new? %>
        <div class="text-right mt-3">
          <%= link_to 'New Project', new_project_path, class: "btn btn-dark" %>
        </div>
      <% end %>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<div class="modal fade" id="destroyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
