<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span>Dashboard</span>
  </li>
  <li class="breadcrumb-item active">Projects</li>
</ol>

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Listing projects
    <% if policy(Project).new? %>
      <%= link_to '+', new_project_path, class: "btn btn-dark float-right" %>
    <% end %>
  </div>
  <div class="card-body">
    <%= form_tag projects_path, method: :get do %>
      <div class="field mb-4">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search", aria: {label:"Search", describedby: "basic-addon1"} %>
      </div>
    <% end %>
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Clients</th>
            <% if policy(Payment).new? %>
              <th class="text-center" colspan="2">Payments</th>
            <% end %>
            <th class="text-center" colspan="2">Time Logs</th>
            <th class="text-center">Comments</th>
            <th class="text-center">Show</th>
            <% if policy(Project).new? %>
              <th class="text-center">Edit</th>
              <th class="text-center">Delete</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td class="text-center"><%= project.name %></td>
              <td class="text-center">
                <%= link_to project.client.name, client_path(project.client) %>
              </td>
              <% if policy(project.payments).new? %>
                <td class="text-center">
                  <%= link_to new_project_payment_path(project), { remote: true, data: { toggle: 'modal', target: '#myModal' }} do %>
                    <h5><i class="fas fa-plus-circle text-success""></i></h5>
                  <% end %>
                </td>
              <% end %>
              <% if policy(project.payments).index? %>
                <td class="text-center">
                  <%= link_to project_payments_path(project) do %>
                    <h5><i class="fas fa-info-circle text-success"></i></h5>
                  <% end %>
                </td>
              <% end %>
              <td class="text-center">
                <%= link_to new_project_time_log_path(project), { remote: true, data: { toggle: 'modal', target: '#myModal' }} do %>
                  <h5><i class="fas fa-calendar-plus text-dark"></i></h5>
                <% end %>
              </td>
              <td class="text-center">
                <%= link_to project_path(project) do %>
                  <h5><i class="fas fa-info-circle text-dark"></i></h5>
                <% end %>
              </td>
              <td class="text-center">
                <%= link_to new_project_comment_path(project), { remote: true, data: { toggle: 'modal', target: '#myModal' }} do %>
                  <h5><i class="fas fa-fw fa-comments text-primary"></i></h5>
                <% end %>
              </td>
              <td class="text-center">
                <%= link_to project_path(project) do %>
                  <h5><i class="fas fa-info-circle text-dark"></i></h5>
                <% end %>
              </td>
              <% if policy(project).edit? %>
                <td class="text-center">
                  <%= link_to edit_project_path(project) do %>
                    <h5><i class="fas fa-pen text-dark"></i></h5>
                  <% end %>
                </td>
              <% end %>
              <% if policy(project).destroy? %>
                <td class="text-center">
                  <%= link_to project_path(project), method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <h5><i class="fas fa-trash text-danger"></i></h5>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="my-4">
        <%= paginate @projects, class: "pagination" %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<div class="modal fade" id="destroyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
