<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span>Projects</span>
  </li>
  <li class="breadcrumb-item active">Details</li>
</ol>

<div class="container">
  <div class="card card-register mx-auto my-5">
    <div class="card-header"><%= @project.name %></div>
    <div class="card-body text-center">
      <p>
        <span class="font-weight-light font-italic">Total Payment:</span>
        <span class="font-weight-bold"><%= @project.payments.sum(:amount) %></span>
      </p>
      <p>
        <span class="font-weight-light font-italic">Client: </span>
        <span class="font-weight-bold"><%= @project.client.name %></span>
      </p>
      <% @attachments.each do |attachment| %>
        <%= link_to attachment.avatar_file_name, attachment.avatar.url(:original) %>
      <% end %>
    </div>
  </div>
  <h5>Time logs</h5>
  <hr>
  <div class="row mt-5">
    <div class="col-12">
      <%= render 'time_logs/project_time_logs' %>
    </div>
  </div>
  <h5>Comments</h5>
  <hr>
  <div class="row mt-5">
    <div class="col-12">
      <%= render 'comments/all_new_comments' %>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

