<div class="card-body">
  <%= form_for [:admin, @user], html: { multipart: true } do |f| %>
    <div id="errors">
      <%= render 'layouts/error_messages', object: @user %>
    </div>
    <% unless @user.attachment.nil? %>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
          <%= image_tag @user.attachment.avatar.url, class: "rounded-circle img-fluid" %>
        </div>
        <div class="col-4"></div>
      </div>
    <%else%>
      <% @user.build_attachment %>
    <% end %>
    <div class="row my-4">
      <div class="col-4"></div>
      <div class="col-4">
        <%= f.fields_for :attachment do |a| %>
          <%= a.file_field :avatar %>
        <% end %>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="form-group">
      <div class="form-label-group">
        <%= f.text_field :username, class: "form-control", placeholder: 'Username' %>
        <%= f.label :username %>
      </div>
    </div>
    <div class="form-group">
      <div class="form-label-group">
        <%= f.email_field :email, class: "form-control", placeholder: 'Email address' %>
        <%= f.label :email %>
      </div>
    </div>
    <div class="form-group">
      <div class="form-row">
        <div class="col-md-6">
          <div class="form-label-group">
            <%= f.password_field :password, class: "form-control", placeholder: 'Password' %>
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-label-group">
            <%= f.password_field :password_confirmation, class: "form-control",placeholder: 'Confirm password' %>
            <%= f.label :password_confirmation %>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <%= f.select(:role, User.roles_except_admin.keys.map {|role| [role.titleize, role]}, {}, {class: "form-control"}) %>
    </div>
    <%= f.submit class: "btn btn-dark btn-block" %>
  <% end %>
</div>
