<div class="card-body">
  <%= form_for [:admin, @user] do |f| %>

    <div class="form-group">
      <div class="form-label-group">
        <%= f.text_field :username, class: "form-control", placeholder: 'Username' %>
        <%= f.label :username %>
      </div>
    </div>
    <div class="form-group">
      <div class="form-label-group">
        <%= f.email_field :email, class: "form-control", placeholder: 'Email address' %>
        <%= f.label :email %>
      </div>
    </div>
    <div class="form-group">
      <div class="form-row">
        <div class="col-md-6">
          <div class="form-label-group">
            <%= f.password_field :password, class: "form-control", placeholder: 'Password' %>
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-label-group">
            <%= f.password_field :password_confirmation, class: "form-control",placeholder: 'Confirm password' %>
            <%= f.label :password_confirmation %>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown">
      <%= f.select(:role, User.roles_except_admin.keys.map {|role| [role.titleize,role]}, {}, { :class => "btn btn-secondary dropdown-toggle" }) %><br/><br/>
    </div>
    <%= f.submit class: "btn btn-dark btn-block" %>
  <% end %>
</div>
