<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span">Users</span>
  </li>
  <li class="breadcrumb-item active">Index</li>
</ol>

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Listing Users
    <%= link_to '+', new_admin_user_path, class: "btn btn-dark float-right" %>
  </div>
  <div class="card-body">
    <%= form_tag admin_users_path, method: :get do %>
      <div class="form-group">
        <div class="form-row">
          <div class="col-md-6">
            <%= text_field_tag :search, params[:search], class: "form-control mb-4", placeholder: "Search", aria: { label:"Search" } %>
          </div>
          <div class="col-md-6">
            <div class="form-row">
              <div class="col-md-10">
                <%= select_tag(:role, options_for_select(roles_user), {include_blank: 'Role', class: "form-control"}) %>
              </div>
              <div class="col-md-2"><%= submit_tag "Submit", class: "btn btn-primary form-control" %></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th class="text-center">Username</th>
            <th class="text-center">Email</th>
            <th class="text-center">Active</th>
            <th class="text-center">Role</th>
            <th class="text-center">Set Activation</th>
            <th class="text-center">Show</th>
            <th class="text-center">Edit</th>
            <th class="text-center">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td class="text-center"><%= user.username %></td>
              <td class="text-center"><%= user.email %></td>
              <td class="text-center"><%= activation_text(user.enable) %></td>
              <td class="text-center"><%= user.role %></td>
              <td class="text-center"><%= link_to activation_link_text(user.enable), set_user_activation_admin_user_path(user), method: :patch, class: activation_link_class(user.enable) %></td>
              <td class="text-center">
                <%= link_to admin_user_path(user) do %>
                  <h5><i class="fas fa-info-circle text-dark"></i></h5>
                <% end %>
              </td>
              <td class="text-center">
                <%= link_to edit_admin_user_path(user) do %>
                  <h5><i class="fas fa-pen text-dark"></i></h5>
                <% end %>
              </td>
              <td class="text-center">
                <%= link_to admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <h5><i class="fas fa-trash text-danger"></i></h5>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="my-4">
        <%= paginate @users, class: "pagination" %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="destroyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
