<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span">Users</span>
  </li>
  <li class="breadcrumb-item active">Details</li>
</ol>

<div class="container mb-4">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">User Details</div>
    <div class="card-body text-center">
      <% unless @user.attachment.nil? %>
        <div class="row"><div class="col-4"></div>
          <div class="col-4 text-center">
            <%= image_tag @user.attachment.avatar.url, class: "rounded-circle img-fluid mb-4" %><div class="col-4"></div>
          </div>
        </div>
      <%end%>
      <p>
        <span class="font-weight-light font-italic"> Username: </span>
        <span class="font-weight-bold"><%= @user.username %></span>
      </p>
      <p>
        <span class="font-weight-light font-italic"> Email: </span>
        <span class="font-weight-bold"><%= @user.email %></span>
      </p>
      <p>
        <span class="font-weight-light font-italic"> Role: </span>
        <span class="font-weight-bold"><%= @user.role %></span>
      </p>
      <p>
        <span class="font-weight-light font-italic"> Active: </span>
        <span class="font-weight-bold"><%= activation_text(@user.enable) %></span>
      </p>
    </div>
  </div>
</div>
