<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th class="text-center">User</th>
          <th class="text-center">Date</th>
          <th class="text-center">Hours</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @all_time_logs.each do |time_log| %>
          <tr>
            <td class="text-center"><%= time_log.user.username %></td>
            <td class="text-center"><%= time_log.date.to_date %></td>
            <td class="text-center"><%= time_log.hours %></td>
            <td class="text-center">
              <%= link_to edit_admin_project_time_log_path(@project, time_log) do %>
                <h5><i class="fas fa-pen text-dark"></i></h5>
              <% end %>
            </td>
            <td class="text-center">
              <%= link_to admin_project_time_log_path(@project,time_log), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <h5><i class="fas fa-trash text-danger"></i></h5>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
