<body id="page-top">
  <%= render '/layouts/navbar' %>
  <div id="wrapper">
    <%= render '/layouts/sidebar' %>
    <div id="content-wrapper">
      <div class="container-fluid">
        <%= notice %>
        <%= alert %>
        <%= yield %>
      </div>
    <%= render '/layouts/footer' %>
    </div>
  </div>
</body>
