<!DOCTYPE html>
<html>
  <head>
    <title>PMS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if user_signed_in? %>
    <%= render '/layouts/logged_in_layout' %>
  <% else %>
    <body class="bg-dark">
    <%= yield %>
    </body>
  <% end %>
</html>
